version: '3.5'

networks:
  carmarket_network:
    name: carmarket_network

services:
  carmarket:
    container_name: carmarket
    stdin_open: true
    build: ./
    volumes:
      - ./carmarket:/app/carmarket

    ports:
      - 9011:8000
    networks:
      - carmarket_network

    depends_on:
      - carmarket_database
    environment:
      - PYTHONDONTWRITEBYTECODE=1

      - POSTGRES_HOST=carmarket_database
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=carmarket_local
      - SECRET_KEY=supersecretkey
      - AWS_ACCESS_KEY_ID=dummy_access_key
      - AWS_SECRET_ACCESS_KEY=dummy_secret_key
      - AWS_S3_BUCKET_NAME=dummy_bucket

  carmarket_database:
    container_name: carmarket_database
    stdin_open: true
    image: postgres:14.2
    environment:
      POSTGRES_PASSWORD: "postgres"
      POSTGRES_DB: "carmarket_local"
    ports:
      - 37100:5432
    restart: unless-stopped
    tty: true
    healthcheck:
      test: [ "CMD", "psql", "-U", "postgres", "-c", "SELECT 1" ]
      timeout: 20s
      retries: 10
    networks:
      - carmarket_network
    volumes:
      - carmarket_database_volume:/var/lib/postgresql/data

volumes:
  carmarket_database_volume:
    driver: local
